* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #07464b 0%, #1b4b94 100%);
    background-size: auto 100vh;
    color: white;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    font-size: 20px
}

@media (min-widht: 360px) {
    body {
        font-size: 14px;
    }
}

header {
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    font-size: 20px;
    position: fixed;
    width: 100vh;
    top: 10px;
}

.menu a {
    padding: 10px 40px;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
}

a {
    color: rgb(64, 212, 212);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.titulo {
    color: whitesmoke;
    text-align: center;
    font-size: 3em;
}

.subtitulo {
    color: whitesmoke;
    text-align: center;
}

.texto {
    display: block;
    font-size: 20px;
    background-color: black;
    width: 360px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    padding: 15px 20px;
}

.texto img {
    margin-top: 20px;
    width: 340x;
    height: 300px;
    text-align: center;
}

.musica-1 {
    background-color: black;
    padding: 15px;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    box-shadow: 0px 0px 10px 10px black;
}

.musica-2 {
    background-color: black;
    padding: 15px;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    box-shadow: 0px 0px 10px 10px black;
}